<div class="profile-card">
  <div id="carouselProfile" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_url(fahrrad) %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url(fenster) %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url(einkaufen) %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url(besen) %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url(auto) %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <ul>
    <li>Hello</li>
    <li>Bla</li>
    <li>blu</li>
  </ul>
</div>
