<div class="profile-card">
  <div class="row w-100 h-100 m-0">
    <div class="col-6 p-0">
      <div id="carouselProfile" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('fahrrad.jpg', class:'d-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag('fenster.jpg', class:'d-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag('einkaufen.jpg', class:'d-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag('besen.jpg', class:'d-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag('auto.jpg', class:'d-block w-100 img-right') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 description-charles">
      <h1>Wer bin ich?</h1>
      <ul>
        <li>17 Jahre alt</li>
        <li>Sch체ler and der Bavarian International School (11. Klasse)</li>
        <li>Wohne in Bogenhausen</li>
      </ul>
      <p>Ich w체rde gerne mit meiner durch die jetzige Situation entstandene Zeit den Leuten helfen, die von dieser Krise deutlich mehr betroffen sind als ich - und zwar dort, wo jeder anpacken kann; im Haushalt!</p>
    </div>
  </div>
</div>
<div class="virus-security">
  <i class="fas fa-exclamation-triangle"></i>
  <div class="security-text">
    <p>Ich bin seit mindestens 2 Wochen in freiwilliger Quarant채ne mit meiner Familie die auf eigene Kosten negativ getestet wurde. Ich werde meine Arbeit mit Mundschutz und Handschuhen ausf체hren.</p>
  </div>
</div>





