<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Charles Konsbrück | Heimservice München</title>
    <meta name="description" content="Charles Konsbrück - Ich biete in München Hilfe im Haushalt an.">
    <meta property="og:site_name" content="Charles Konsbrück Heimservice München">
    <meta property="og:title" content="Charles Konsbrück | Heimservice München">
    <meta property="og:image" content="<%= asset_path('banner.jpg') %>">
    <meta property="og:url" content="https://konsbrueck-heimservice.herokuapp.com/">
    <meta name="twitter:card" content="summary_large_image">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
